header {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 2px solid crimson;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 150px;
}

/* NAV principal ocupa toda a largura */
nav {
  flex: 1;
  position: relative;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: auto;
}

nav a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: crimson;
}


#pesquisa {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 15px;
}

#pesquisa input {
  padding: 10px;
  border: none;
  width: 250px;
  border-radius: 15px;
  background-color: #3d3d3d;
  color: #f2f2f2;
  font-size: 1.1rem;
}

#pesquisa button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#pesquisa_img img {
  height: 25px;
}
